set editing-mode vi

$if mode=vi

# these are for vi-command mode
set keymap vi-command

# unbind space
" ": ""

# beginning and end of line shortcuts
" a":beginning-of-line
" ;":end-of-line 

"\C-a":beginning-of-line

# Must be set in .bashrc
#"\C-e":end-of-line 

# jump left or right by one word
"\C-h":shell-backward-word
"\C-l":shell-forward-word


# these are for vi-insert mode
set keymap vi-insert

"\e[A": history-search-backward 
"\e[B": history-search-forward

"\C-a":beginning-of-line
"\C-e":end-of-line

# jump left or right by one word
"\C-h":shell-backward-word
"\C-l":shell-forward-word

$endif
